<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">


</head>
 <body>

  
    <h1>American Weather App</h1>
<div class="container">
  <div class="current-info" >



        <div class="date__container">
          <div class="time" id="time">
               <span id="am-pm"></span>
            </div>
            <div class = "date" id="date">
        </div>
      </div>
         
          
  
      <div class="place__container">
        <div class="time__zone" id="time__zone"></div>
        <div id="advanced__time__zone"></div>
        <div id = "town"></div>
        <div id="country" class="country"></div>
       
      </div>
    </div>
</div>

      
  
   
            

    


  
  
    
  
    

 



    <div class="flex__results">
 
      <div class="flex__search">
     
        <input type="text" id="zip" placeholder="Enter US Zip Code Here"> 
       
        </div>
        <button id="generate" type = "submit"> Search </button>
    <div class ="current__entryHolder">
  
 
   <div class="tex__background">
    <div  id="current__temp"> Hello.</div>
   </div>
    <div id="temp"class="current__temperature"></div>
 


     <div  id="today__icon">   </div>
    <div class="day">




      <div id="description"></div>
      <div id="clouds"></div>
    <div id="min__temp1" class="current__temperature"></div>
    <div id="max__temp1" class="current__temperature"></div>
   
   
    <div class="flex__more">
    <div id="humidity"></div>
      <div id="pressure"></div>
      <div id="wind__speed"></div></div>
   <div id="message"></div>
    
  

  </div>





   </div>
  
 
</div>
</div>
</div>

</div>
  </div>
 


  

</body>
</html>

